@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  
  --color-primary: #004ac6;
  --color-primary-container: #2563eb;
  --color-primary-fixed: #dbe1ff;
  --color-on-primary: #ffffff;
  --color-on-primary-fixed: #00174b;
  --color-on-primary-fixed-variant: #003ea8;
  
  --color-secondary: #495c95;
  --color-secondary-container: #acbfff;
  
  --color-tertiary: #8e3c00;
  --color-tertiary-container: #b54e00;
  --color-tertiary-fixed: #ffdbca;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #ffece5;

  --color-surface: #faf8ff;
  --color-surface-dim: #d9d9e5;
  --color-surface-bright: #faf8ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3fe;
  --color-surface-container: #ededf9;
  --color-surface-container-high: #e7e7f3;
  --color-surface-container-highest: #e1e2ed;
  
  --color-on-surface: #191b23;
  --color-on-surface-variant: #434655;
  
  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;
}

@layer base {
  body {
    @apply font-manrope bg-surface text-on-surface;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
}

.glass-nav {
  background: rgba(250, 248, 255, 0.8);
  backdrop-filter: blur(12px);
}
